<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @mail.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @mail.to %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @mail.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mail.description %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @mail.timestamp %>
</p>

<%= link_to 'Edit', edit_mail_path(@mail) %> |
<%= link_to 'Back', mails_path %>
